.navbar {
    background-color: rgb(51, 51, 188);
}

.navbar-brand {
    color: whitesmoke;
    font-family: Didot, serif;
}

    
h1 {
    text-align: center;
    font-family: Didot, serif;
    font-size: 100px;
    color: rgb(51, 51, 188);
   padding-top: 70px;
}

h2 {
    text-align: center;      
    font-family: Didot, serif;
    font-size: 40px;
    padding-top: 40px;
}

p {
    text-align: center;
}

/* Styles for wrapping the search box */
.flip-card {
    text-align: center;
    margin: auto;
    background-color: transparent;
    width: 30vh;
    height: 300px;
    border: 1px solid rgb(51, 51, 188);
    perspective: 1000px;
}
.flip-card {
    text-align: center;
    margin: auto;
    background-color: transparent;
    width: 30vw;
    height: 300px;
    border: 1px solid rgb(51, 51, 188);
    perspective: 1000px;
}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
  }

  .flip-card-front {
    background-color: rgb(255, 255, 255);
    color: rgb(51, 51, 188);
  }
  
  .flip-card-back {
    background-color: rgb(51, 51, 188);
    color: white;
    transform: rotateY(180deg);
  }

/*#definition {
    display: none;
}

button {
    margin-top: 15px;
}*/
