.navbar {
    background-color: rgb(51, 51, 188);
}

.navbar-brand {
    color: whitesmoke;
    font-family: Didot, serif;
}

b {
    font-size: 16pt;
}

h1 {
    text-align: center;
    font-family: Didot, serif;
    font-size: 100px;
    color: rgb(51, 51, 188);
    padding-top: 70px;
}

h2 {
    text-align: center;      
    font-family: Didot, serif;
    font-size: 40px;
    padding-top: 40px;
}

table {
    /* TODO */
}

tr {
    /* TODO */
}

td {
    /* TODO */
}

p {
    font-size: 20px;
    color: rgba(51, 51, 188, 0.933);
    text-align: center;
}


