b {
    text-align: center;
    font-family: Didot, serif;
    font-size: 24pt;
    color: rgb(51, 51, 188);
}

h1 {
    text-align: center;
    font-family: Didot, serif;
    font-size: 100px;
    color: rgb(51, 51, 188);
    padding-top: 70px;
}

h2 {
    text-align: center;      
    font-family: Didot, serif;
    font-size: 40px;
    padding-top: 40px;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
}

td {
    font-size: 18pt;
    height: 20pt;
}

p {
    font-size: 20px;
    color: rgba(51, 51, 188, 0.933);
    text-align: center;
}


