h1 {
    text-align: center;
    font-family: Didot, serif;
    font-size: 100px;
    color: rgb(51, 51, 188);
    padding-top: 70px;
}

h2 {
    text-align: center;      
    font-family: Didot, serif;
    font-size: 40px;
    padding-top: 40px;
}

h4 {
    color: rgb(51, 51, 188);
}

button {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.container li {
    list-style: none;
    padding: 10px;
    margin: 20px;
    background-color: rgb(212, 212, 243);
    border: 3px solid rgb(127, 127, 220);
    cursor: grab;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    margin: auto;
    max-width: 80%;
}

.over {
    background-color: rgb(51, 51, 188)
}

.draggable-list {
    padding: 10px;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
}

tr {
    font-size: 18pt;
    height: 60pt;
}

p {
    font-size: 20px;
    color: rgba(51, 51, 188, 0.933);
    text-align: center;
}

#endMessage h1 {
    font-size: 40px;
    padding-top: 0px;
}

#endMessage p {
    font-size: 24px;
}